*   {
    box-sizing: border-box;
    
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #EFEEEA;
    
}

.menu {
    background-color: #FFE680;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    padding: 50px;
    align-items: center;
}


.menu a {
    text-decoration: none;
    text-transform: uppercase ;
}

.menuodkazy {
    margin-left: 20px;
}


.logo {
    font-size: 50px;
    display: block;
    align-items: center;
    
}


.profil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    margin-top: 50px;
}

.profiltext {
    line-height: 2;
    font-size: 20px;
    text-align: justify;
    color: #00495C    ;
}

.foto {
    width: 400px;
    border-radius: 100px;
    margin-right: 50px;
  

}

.vzdelaniapraxe {
    margin-top: 50px;
}

.vzdelaniapraxe strong {
    font-weight: bold;
    line-height: 2.5em;
}

.vzdelaniapraxe li {
    line-height: 1.5em;
}

.vzdelaniapraxe-boxy {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    background-color: #B5E9FF;
    
}

.kurzy {
  
}